.App-header {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: cyan;
  text-align: center;
}

body {
  background-color: #d8defa;

 

}

/*Navigation bar*/ 
.App-nav {
  max-width: 800px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
}
.banner {
  max-width: 800px;
  height: 200px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
}
.banner img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 1s ease; /* Smooth transition effect */
  left: 0;
}

.banner img.active {
  transform: translateX(-100%);
}
.search-bar {
  padding-left: 16px;
  padding-right: 16px;
}


/*Container*/
.App-grid {
  padding-top: 10px;
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 800px;
}



